<html>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Edición de Artículo</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container mt-5">

      <div class="container">
        <h1 class="text-center">Consulta de Artículos</h1>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            {{#each articulos}}
              <tr data-id="{{this._id}}">
                <td>{{this._id}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.precio}}</td>
                <td><button
                    id="btn-editar"
                    class="btn btn-primary editar"
                  >Editar</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
      </div>

      <div class="container" id="form-editar" style="display:none;">
        <h1>Edición de Artículo</h1>
        <form method="POST" action="" id="form-edicion">
          <input type="hidden" name="id" id="id-editar" value="" />
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              value=""
            />
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input
              type="number"
              class="form-control"
              id="precio"
              name="precio"
              value=""
            />
          </div>
          <button
            type="submit"
            id="guardar"
            class="btn btn-primary"
          >Guardar</button>
          <button
            id="cancelar"
            type="button"
            class="btn btn-danger cancelar"
          >Cancelar</button>
        </form>
      </div>

    </div>
    <script src="../modificacion.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4+NQ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

  </body>
</html>